.main-btn{
    background-color: transparent;
    border-radius: 10px;
    
    padding: 10px 20px;
}
.white-btn{
    border: 2px solid whitesmoke;
    color: whitesmoke;
}

.black-btn{
    border: 2px solid black;
    color:black;
}

